<div class="search-container">
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search..."
    class="search-input"
  />

  <div *ngIf="(pastQueries$ | async)?.length" class="suggestions">
    <div
      *ngFor="let query of pastQueries$ | async"
      (click)="selectSuggestion(query)"
      class="suggestion-item"
    >
      {{ query }}
    </div>
  </div>

  <div class="results" *cdkVirtualFor="let result of results$ | async">
    <div class="result-item">
      <h3>{{ result.Title }}</h3>
      <p>{{ result.Year }}</p>
    </div>
  </div>
</div>
